---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import '../styles/global.css';

const allPosts = Object.values(import.meta.glob('./blog/*.md', { eager: true }));
const pageTitle = 'Blog'
---
<BaseLayout pageTitle={pageTitle}>
		<p>Here are a couple blogs about my progess, as well as what I'm looking forward to once I'm home</p>
		<ul>
			{allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>
</BaseLayout>
