---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "My Website";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>How I'm Working to Become a Project Manager (Possibly)</h2>
</BaseLayout>